<section class="hosts">
  <%- @hosts.each do |host| %>
    <h2><%= host.label %></h2>
    <ul>
      <%- host.results_newest_first.limit(10).each do |result| %>
        <li>
          <%= debug result %>
          <%= result %>
        </li>
      <%- end %>
    </ul>
  <%- end %>
</section>
